<div class="hotel-card" [id]="hotel.id">
  <div class="content">
    <div class="lightbox">
      <img class="photo" src="https://pix10.agoda.net/hotelImages/338/338405/338405_18060512550066034564.jpg" alt="flying hero">
    </div>
    <div class="text-content">
      <div>
        <h4 class="title">{{hotel.title}}</h4>
        <div class="subtitle">3.4km from the city center</div>
      </div>
      <div>
        <div class="price">£98</div>
      <div class="additional-info">Designs may vary</div>
      </div>
    </div>
  </div>
  <button type="button" class="book-button">Book</button>
</div>
